/* CSS Document */
body {
	background:#FFFFFF none repeat scroll 0%;
	color:#000000;
	font-family:arial,sans-serif;
	font-size:62.5%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2em;
	text-align:center;
}
a {color:#2C2C2C; text-decoration:none}
a:hover {color:#F47A0E; text-decoration:none}
button {background-color:#FFF; border:0px #ADADAD dotted; font-weight:bold; text-align:center; border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee; color:#565656;}
button:hover {color:#FF6600; cursor:pointer; background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699;}
h1 {font-size:1.6em;line-height:1.8em;}
ol, ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

.clear {
	clear:both;
}

.fix:after {
	clear: both; 
	content: "."; 
	display: block; 
	height: 0pt; 
	visibility: hidden;
}
.fix {
}

* html .fix {
	height:1%;
}

.fix {
	display:block;
}

input.erreur { border: 2px solid #E05C51; background: #F5EAEA url(../../images/icones/exclamation.gif) right no-repeat; color:#305E98; height:17px; /*margin-left: 1px; width:380px;*/}
input.succes { background: #FCFEEC url(../../images/icones/accept.gif) right no-repeat; /*width:380px;*/}

/*Messages d'info (succes ou erreur)*/
p.alert { background: #F5EAEA url(../images/163/50.png) no-repeat; background-position: 2px 50%; text-align: left; padding: 5px 10px 5px 20px;	border-top: 2px solid #E05C51;	border-bottom: 2px solid #E05C51;	color:#666666;}
p.alert a{ color:#CC0000; text-decoration:none }
p.alert a:hover{ color:#990000; text-decoration:none }
p.info { background: #f8fafc; text-align: left; padding: 5px 1px 5px 10px;	border-top: 2px solid #b5d4fe;	color:#666666;	border-bottom: 2px solid #b5d4fe; }
p.info a{ color:#006699; text-decoration:none }
p.info a:hover{ color:#0066FF; text-decoration:none }



.right {float:right;}
.left {float:left;}

.container{
	display:block;
	margin:0pt auto;
	padding:0pt 7px;
	text-align:left;
	width:960px;
}

/**/
#header{
	background:transparent url(../images/logo_immobilierfr.gif) no-repeat scroll left top;
	padding:3em 0pt 7em;
	position:relative;
}

/*Navigation du haut*/
#nav {
font-size:1.2em;
margin:10px 0pt 0pt;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}
#nav li {
float:left;
margin-left:7px;
}
#nav li a {
background:#DDDDDD none repeat scroll 0%;
color:#6C6C6C;
display:block;
padding:0.8em 0pt;
text-align:center;
text-decoration:none;
width:8em;
}
#nav li a:hover, #av li.current a {
background:#333333 none repeat scroll 0%;
color:#EEEEEE;
}
#nav li.orange a:hover, #nav li.orange a {
background:#F47A0E none repeat scroll 0%;
color:#EEEEEE;
}


.home .left {
width:607px;
background:transparent url(../images/distortv.gif) no-repeat right;
}
.home .right {
text-align:left;
width:340px;
}
.home .right h3 {
color:#F47A0E;
font-size:1.6em;
font-weight:normal;
padding-left:2px;
}


/*MENU DROIT*/
ul.sidebar-ul, .related-posts ul {
font-size:1.2em;
line-height:1.4em;
margin:10px 0pt 0pt;
padding:0pt;
margin:0pt;
}
.sidebar-ul li, .related-posts li {
border-top:1px solid #CCCCCC;
color:#777777;
line-height:1.5em;
}
.sidebar-ul li a, .related-posts li a {
background:transparent url(../images/li-grey.gif) no-repeat scroll 1px 3px;
color:#888888;
display:block;
font-weight:normal;
padding:3px 0pt 3px 20px;
text-decoration:none;
}
.sidebar-ul li a:hover, .related-posts li a:hover {
background:transparent url(../images/li.gif) no-repeat scroll 1px 3px;
color:#F47A0E;
}
.sidebar-ul li a:hover em {
color:#999999;
}

/* RECHERCHE*/
.search {
background:#F47A0E url(../images/search-bg.gif) no-repeat scroll left top;
display:block;
height:32px;
width:340px;
}
.search #searchForm {
margin:0pt 0pt 0pt 7px;
}
#searchForm input {
margin:6px 0pt 0pt;
vertical-align:middle;
}
.search #searchForm #s {
border:1px solid #F47A0E;
color:#666666;
font-size:12px;
margin-right:4px;
padding:1px;
width:265px;
}


/* DETAIL CONTACT + ANNONCE */
.annonce, .contact{
float:left;
width:286px;
}
.annonce h2, .annonce h2 a, .contact h2, .contact h2 a {
color:#F47A0E;
font-size:16px;
text-decoration:none;
font-weight:normal;
}

/*FORMULAIRE*/
#form {
font-size:11px;
}
#form p {
margin:0.8em 0pt;
}
#form p label {
}
#form input {
border:1px solid #AAAAAA;
color:#555555;
font-family:arial,verdana,sans-serif;
font-size:12px;
padding:2px;
}
#form textarea {
border:1px solid #AAAAAA;
color:#555555;
font-family:arial,verdana,sans-serif;
font-size:12px;
padding:2px;
}
#form #comment {
height:225px;
overflow:auto;
width:485px;
}

/*Separation*/
#comments {
margin:21px 0pt;
}
#comment-breaker {
background:transparent url(../images/distort.gif) no-repeat scroll center top;
color:#F47A0E;
display:block;
margin:21px 0pt 14px;
padding:25px 0pt 0pt 2px;
width:100%;
}
#comment-breaker h2 {
font-size:16px;
}

/*+ commentaire annonce*/
ol.commentslist {
float:left;
font-size:1.2em;
line-height:1.5em;
width:590px;
padding:0pt;
margin:0pt;
}
.commentslist li {
margin-bottom:28px;
}
.commentslist li p {
margin:0pt 0pt 1em;
}
.commentslist li blockquote {
font-style:italic;
margin:0pt 1.2em;
}
.commentslist li ul, .commentslist li ol {
margin:1em 1.5em;
}
.commentslist .author_meta {
border-top:2px solid #F47A0E;
float:left;
font-size:11px;
text-transform:lowercase;
width:75px;
}
.commentslist .author_meta a {
color:#444444;
text-decoration:none !important;
}
.commentslist .author_meta a:hover {
text-decoration:underline !important;
}
.commentslist li.author .comment_text {
background:#EEEEEE none repeat scroll 0%;
border:1px solid #DDDDDD;
width:498px;
}
li.author .comment_text p {
margin:7px;
}
.commentslist .comment_text {
float:right;
overflow:auto;
width:500px;
}
.comment_text .comment-author {
font-weight:bold;
margin-bottom:7px;
}
li.author .comment_text .comment-author {
margin:7px 0pt 7px 7px;
}
.commentslist .comment_text a {
font-weight:bold;
}

/*Images annonce*/
.image {
float:right;
width:340px;
margin-bottom:15px;
}
.image ul {
width:340px;
}
.image li {
display:block;
float:left;
margin:0pt 0pt 7px 7px;
}
.image li div {
position:relative;
}
.image li a {
background:transparent none repeat scroll 0%;
padding:0pt;
}
.image li a img {
background:#EEEEEE none repeat scroll 0%;
border:3px solid #DDDDDD;
height:48px;
width:48px;
}
.image li a:hover img {
border-color:#BBBBBB;
}
