#reponse
{
	width:741px;
	margin:0px auto;
}
.Style1 
{
	color:red;
	text-decoration:underline;
}
#contact 
{
	width:250px;
}
#idmessage
{
	width:459px;
}
#categorie 
{
	width:304px;
}
#destinataire
{
	width:633px;
}
#titre
{
	width:633px;
}
#objet
{
	width:633px;
}
#contenu
{
	width:741px;
}
#original
{
	width:741px;
}